<!DOCTYPE html>
<html>
<head>
    <title>Posted Tweets</title>
</head>
<body>
    <h1>Posted Tweets</h1>
    <ul id="tweet-list">
    </ul>

    <script>
        fetch('/posted_tweets')
            .then(response => response.json())
            .then(tweets => {
                const tweetList = document.getElementById('tweet-list');
                tweets.forEach(tweetId => {
                    const listItem = document.createElement('li');
                    listItem.textContent = tweetId;
                    tweetList.appendChild(listItem);
                });
            });
    </script>
</body>
</html>
